<?xml version="1.0"?>
<launch>
  <arg name="limited" default="false"  doc="If true, limits joint range [-PI, PI] on all joints." />
  <arg name="paused" default="false" doc="Starts gazebo in paused mode" />
  <arg name="gui" default="true" doc="Starts gazebo gui" />
  
  <!-- startup simulated world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" default="$(find RobotGazebo)/worlds/robot.world"/>
  </include>

  <!-- send robot urdf to param server -->
  <include file="$(find RobotDescription)/launch/ur5_upload.launch">
    <arg name="limited" value="$(arg limited)"/>
  </include>

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model robot -z 0.85" respawn="false" output="screen" />

  <include file="$(find RobotGazebo)/launch/controller_utils.launch"/>

  <!-- start this controller -->
  <rosparam file="$(find RobotGazebo)/controller/robot_controller.yaml" command="load"/>
  <node name="robot_controller_spawner" pkg="controller_manager" type="spawner" args="robot_controller" output="screen"/>


</launch>
